.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
}

.header-menu {
  background-color: #001529; /* Dark background color */
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: flex-end; /* Right align menu items */
}

.header-menu .ant-menu-item {
  margin: 0 10px;
}

.header-menu .ant-menu-item a {
  color: #fff; /* White text color */
}

.header-menu .ant-menu-item a:hover {
  color: #1890ff; /* Change text color on hover */
}

.header-menu .ant-menu-item-selected {
  background-color: #18f3ff; /* Background color for selected item */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.popup-content button {
  padding: 10px 20px;
  background-color: #2a3102;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3;
}