/* analysis-form-styles.css */

.background-container {

    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the height of the background container to 100% viewport height */

    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

.form-container {
    height: 100%;
    /* Make the form container full height */
    max-width: 400px;
    /* Adjust the maximum width of the form */
    
    background-color: rgba(255, 255, 255, 0.9);
    /* Adjust background opacity as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow for depth */
}



.input-text {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}