/* analysis-form-styles.css */

.background-container {

    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the height of the background container to 100% viewport height */

    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

.form-container {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.input-text {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}